.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

form {
  width: 800px;
  margin: 50px auto;
}

button {
  border-radius: 0;
  border: none;
  background-color: #3c91d7;
  color: #fff;
  padding: 10px 15px;
  margin-top: 25px;
}

button:focus {
  outline: none;
}